@inherits LayoutComponentBase


<Menu Mode=MenuMode.Horizontal style="background-color: #FF1493;">
    <MenuItem Key="app" class="menuitem">
        <a href="/UserManagement">Girl Scout Management</a>
    </MenuItem>
    <MenuItem Key="activity" class="menuitem">
        Activity Management
    </MenuItem>
    <MenuItem Key="badge" class="menuitem">
        <a href="/BadgeManagement">Badge Management</a>
    </MenuItem>
</Menu>

@code
{
    RenderFragment sub1Title =
        @<Template>
            <Icon Type="setting" Theme="outline"></Icon>
            Navigation Three - Submenu
        </Template>;
}

<PageTitle>BadgeTracker</PageTitle>

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .menuitem {
        color: goldenrod;
        font-weight: bold;
    }

        .menuitem :hover {
            color: black;
        }

    menuitem ant-menu-item ant-menu-item-selected {
        background-color: white;
    }
</style>
